<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Search">
    <test verbose="2" preserve-order="true"
          name="Search">
        <classes>
                <class name = "maven.example.addComputer.AddComputerTest"/>
        </classes>
    </test>
</suite>